---
# This is an example of the kinds of things that you can configure via hiera.
# If you've left the defaults in `/hiera.yml`, you might want to copy this file
# to `hiera/common.yaml`, or feel free to start with a blank slate!

# Have a gander at some of these examples to get an idea of some of the things
# that you can affect 'out of the box', and then customise to your
# heart's content.

# See https://github.com/boxen/puppet-ruby for docs
ruby::global::version: "2.2.2"
ruby::build::ensure: "v20150519"
ruby::rbenv::ensure: "v0.4.0"
ruby::rbenv_plugins:
  rbenv-use:
    ensure: v1.0.0
    source: rkh/rbenv-use
  rbenv-whatis:
    ensure: v1.0.0
    source: rkh/rbenv-whatis
  rbenv-gem-update:
    ensure: ecc285381084ad46bba6c09fbd8a073973ef8ea6
    source: nicknovitski/rbenv-gem-update
  rbenv-env:
    ensure: 1.1
    source: ianheggie/rbenv-env
  rbenv-bundle-exec:
    ensure: v1.0.0
    source: maljub01/rbenv-bundle-exec
  rbenv-default-gems:
    ensure: v1.0.0
    source: sstephenson/rbenv-default-gems
  rbenv-gem-rehash:
    ensure: v1.0.0
    source: sstephenson/rbenv-gem-rehash
  rbenv-update:
    ensure: f0ff6e3264c45fdf2a8064205db6c8b3a707894e
    source: rkh/rbenv-update
  rbenv-each:
    ensure: 80647ca7f79f033f147f62d6db1896f2afc5544d
    source: chriseppstein/rbenv-each
  rbenv-vars:
    ensure: v1.2.0
    source: sstephenson/rbenv-vars
ruby::version::alias:
  2.0.0: 2.0.0-p645
